<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">

        {# Bloc pour inclure les fichiers CSS #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% if app.user %}
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
        
        {% if stats is defined %}
            <p>Total des articles : {{ stats.total_items }}</p>
        {% endif %}
        
        {% block body %}{% endblock %}

        {# Bloc pour inclure les fichiers JavaScript #}
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
